<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PoE Profit Margins</title>
        <meta name="description" content="Website for Path of Exile profit margins.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="img/favicon.ico">
        <link 
            rel="stylesheet" 
            href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
            integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" 
            crossorigin="anonymous"
        >
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
        <link rel="stylesheet" href="styles/styles.css">
    </head>


    <body>
    <div id="layout">
        <div id="menu">
            <div class="pure-menu">
                <a href="/" class="pure-menu-heading">Flipping</a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item current"><a href="/currency" class="pure-menu-link">Currency</a></li>
                    <li class="pure-menu-item"><a href="/fragment" class="pure-menu-link">Fragments</a></li>
                </ul>
            </div>
        </div>

        <div id="main">
            <div class = "header">
                <h1 style="margin-bottom:1em;">Currency Flipping</h1>
            </div>

            <div class="content">
                <table class="pure-table">
                    <thead>
                        <tr>
                            <th>Currency</th>
                            <th>Buy</th>
                            <th>Sell</th>
                            <th>Profit</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for(item of result) { %>
                        <tr>
                            <td> 
                                <img class="currency-icon" src=<%= item.icon %>>
                                <%= item.name %> 
                            </td>

                            <td class="text-right"> 
                                <%= item.buyChaos %>
                                <span class="separator">×</span>
                                <img class="currency-icon" src=<%= item.chaosIcon %>>  
                                <span class="separator">=</span>
                                <%= item.buyItem %>
                                <span class="separator">×</span>
                                <img class="currency-icon" src=<%= item.icon %>>
                            </td>

                            <td class="text-right">
                                <% if (item.sellChaos == null) { %>
                                    Not Enough Data
                                <% } else { %>
                                    <%= item.sellItem %>
                                    <span class="separator">×</span>
                                    <img class="currency-icon" src=<%= item.icon %>>  
                                    <span class="separator">=</span>
                                    <%= item.sellChaos %>
                                    <span class="separator">×</span>
                                    <img class="currency-icon" src=<%= item.chaosIcon %>>
                                <% } %>

                                 
                            </td>
                        </tr>
                        <% } %>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <script src="js/script.js"></script>
    </body>



</html>