<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>PoE Profit Margins</title>
        <meta name="description" content="Website for Path of Exile profit margins.">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="img/favicon.ico">
        <link 
            rel="stylesheet" 
            href="https://unpkg.com/purecss@2.0.3/build/pure-min.css"
            integrity="sha384-cg6SkqEOCV1NbJoCu11+bm0NvBRc8IYLRGXkmNrqUBfTjmMYwNKPWBTIKyw9mHNJ" 
            crossorigin="anonymous"
        >
        <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.3/build/grids-responsive-min.css">
        <link rel="stylesheet" href="styles/styles.css">
    </head>


    <body>
    <div id="layout">
        <div id="menu">
            <div class="pure-menu">
                <a href="/" class="pure-menu-heading">Flipping</a>
                <ul class="pure-menu-list">
                    <li class="pure-menu-item current"><a href="/currency" class="pure-menu-link">Currency</a></li>
                    <li class="pure-menu-item"><a href="/fragment" class="pure-menu-link">Fragments</a></li>
                </ul>
            </div>
        </div>

        <div id="main">
            <div class = "header">
                <h1 style="margin-bottom:1em;">Currency Flipping</h1>
            </div>

            <div class="content">
                <div class="pure-g">
                    <div class="pure-u table">
                        <table class="pure-table">
                            <thead>
                                <tr>
                                    <th>Currency</th>
                                    <th>Buy</th>
                                    <th>Sell</th>
                                    <th>Profit</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% for(item of currency) { %>
                                <tr>
                                    <td> 
                                        <img class="currency-icon" src=<%= item.icon %>>
                                        <%= item.name %> 
                                    </td>
        
                                    <td class="text-right <%=item.buyCount < 10 ? 'medium-confidence' : ''%>"> 

                                        <% if (item.buyChaos == null || item.buyCount < 6) { %>
                                            <span class="no_data">Not Enough Data</span>
                                        <% } else { %>
                                            <%= item.buyChaos %>
                                            <span class="separator">×</span>
                                            <img class="currency-icon" src=<%= item.chaosIcon %>>  
                                            <span class="separator">=</span>
                                            <%= item.buyItem %>
                                            <span class="separator">×</span>
                                            <img class="currency-icon" src=<%= item.icon %>>
                                        <% } %>
                                    </td>
        
                                    <td class="text-right <%=item.sellCount < 10 ? 'medium-confidence' : ''%>">
                                        <% if (item.sellChaos == null || item.sellCount < 6) { %>
                                            <span class="no_data">Not Enough Data</span>
                                        <% } else { %>
                                            <%= item.sellItem %>
                                            <span class="separator">×</span>
                                            <img class="currency-icon" src=<%= item.icon %>>  
                                            <span class="separator">=</span>
                                            <%= item.sellChaos %>
                                            <span class="separator">×</span>
                                            <img class="currency-icon" src=<%= item.chaosIcon %>>
                                        <% } %>
        
                                         
                                    </td>
                                </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>

                    <div class="pure-u form pure-form-stacked">
                        <form class="pure-form">
                            <fieldset>
                                <legend style=>Custom Profit Calculator</legend>
                            </fieldset>
                            <label for="stacked-state">Currency</label>
                            <select id="item">
                                <% for(item of currency) { %>
                                    <option><%= item.name %> </option>
                                <% } %>
                            </select>
                            <label for="quantity">Quantity</label>
                            <input type="number" id="quantity" placeholder="# of item to buy and sell" />
                            <label for="stacked-password">Password</label>
                            <input type="password" id="stacked-password" placeholder="Password" />
                        </form>
                    </div>
                </div>
                
            </div>
        </div>

    </div>
    <script src="js/script.js"></script>
    </body>



</html>